.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 12px; */
  padding: 8px 0px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

.navBtn {
  display: flex;
  gap: 10px;
}

.navItemBtn {
    border: 1px solid rgb(211, 219, 241);
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(211, 219, 241);
    width: 85px;
    cursor: pointer;
    display: inline-block;
}


.navItemBtn:hover {
    background-color: rgb(34, 94, 215);
    color: #fff;
}

/* border: 1px solid;
    padding: 8px 22px;
    border-radius: 8px; */